In [0]:
df=spark.read.text("dbfs:/FileStore/shared_uploads/data.csv")
display(df)

value
"""1,ravi,bangalore"""
"""2,raj,chennai,33,m"""
"""3,mohan"""
"""4,prasad,hyderabad,35,m,787878987"""
"""5,sridhar,chennai"""

In [0]:
from pyspark.sql.functions import split,length,col,max,size

# Split text data using split function with comma delimieter
df2 =df.select(split("value",",").alias("splitted_col"))
df2.show()

+--------------------+
|        splitted_col|
+--------------------+
|["1, ravi, bangal...|
|["2, raj, chennai...|
|        ["3, mohan"]|
|["4, prasad, hyde...|
|["5, sridhar, che...|
+--------------------+

In [0]:
# Get Length of each row using size function then find max length of row for generating no of columns dynamically
df2.select('splitted_col',size('splitted_col')).show(truncate=False)
df2.select(max(size('splitted_col'))).collect()[0][0]

+------------------------------------------+------------------+
|splitted_col                              |size(splitted_col)|
+------------------------------------------+------------------+
|["1, ravi, bangalore"]                    |3                 |
|["2, raj, chennai, 33, m"]                |5                 |
|["3, mohan"]                              |2                 |
|["4, prasad, hyderabad, 35, m, 787878987"]|6                 |
|["5, sridhar, chennai"]                   |3                 |
+------------------------------------------+------------------+

Out[4]: 6

In [0]:
# Getting Max Index value for generating dynamic columns using max size of items at each row.
for i in range(df2.select(max(size('splitted_col'))).collect()[0][0]):
    # Dynamically Add Columns using WithColumn 
    df2=df2.withColumn('col'+str(i),df2["splitted_col"][i])
# Drop splitted_Col which is not required after splitting into individual columns
df2= df2.drop("splitted_col")
df2.show()

+----+-------+----------+----+----+----------+
|col0|   col1|      col2|col3|col4|      col5|
+----+-------+----------+----+----+----------+
|  "1|   ravi|bangalore"|null|null|      null|
|  "2|    raj|   chennai|  33|  m"|      null|
|  "3| mohan"|      null|null|null|      null|
|  "4| prasad| hyderabad|  35|   m|787878987"|
|  "5|sridhar|  chennai"|null|null|      null|
+----+-------+----------+----+----+----------+